/* MotivationalText.module.css */
.motivationalText {
  background-color: #f8f8f8;
  margin-top: 2rem;
  width: 100%;
}

.inner_motivationalText{
  padding: 40px;
  width: 95ch;
  margin-inline: auto;
  max-width: 90vw;
  
  }
  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .text {
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
  }
  