@tailwind base
@tailwind components
@tailwind utilities

body
  padding: 0px
  margin: 0px
  box-sizing: border-box

main, article
  max-width: 90vw
  width: 1200px
  margin-inline: auto

#galerias
  width: 1200px
  margin-top: 4rem
  margin-inline: auto
  @media (max-width: 600px) 
    width: 500px